﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
        <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    @*<link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" />*@
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body class="bgcolor">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            
            <div class="navbar-header">
                @if (Session["userName"] != null)
                {
                    <div class="navbar navbar-inverse navbar-fixed-top">
                        
                        <div class="container">
                            <div class="navbar-collapse collapse">
                  
                                <ul class="nav-justified">
                                    
                                    <li>@Html.ActionLink("Bus", "busView", "Home", new { area = "" }, new { @class = "navbar-brand" })</li>
                                    <li>@Html.ActionLink("Department", "departmentView", "Home", new { area = "" }, new { @class = "navbar-brand" })</li>
                                    <li>@Html.ActionLink("Location", "locationView", "Home", new { area = "" }, new { @class = "navbar-brand" })</li>
                                    <li>@Html.ActionLink("Role", "roleView", "Home", new { area = "" }, new { @class = "navbar-brand" })</li>
                                    <li>@Html.ActionLink("Route", "routeView", "Home", new { area = "" }, new { @class = "navbar-brand" })</li>
                                    <li>@Html.ActionLink("Student", "studentView", "Home", new { area = "" }, new { @class = "navbar-brand" })</li>
                                    <li>@Html.ActionLink("User", "userView", "Home", new { area = "" }, new { @class = "navbar-brand" })</li>
                                    <li>@Html.ActionLink("Log Out", "logOut", "Home", new { area = "" }, new { @class = "navbar-brand" })</li>

                                </ul>
                            </div>
                        </div>
                    </div>
                }
            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav"></ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Easy Bus Admin</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>