﻿@model IEnumerable<Data.DTO.departmentDTO>

@{
    ViewBag.Title = "departmentView";
}
@if (Session["userName"] != null)
{
<h2>DEPARTMENT</h2>

<p>
    @Html.ActionLink("Create New", "createDepartment")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.deptno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.deptname)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.deptno)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.deptname)
        </td>
        <td>
           @Html.ActionLink("Delete", "deleteDepartment", new { deptno = item.deptno })
        </td>
    </tr>
}

</table>
@Html.ActionLink("Back to Dash Board", "adminpage")
}