﻿@model easyBus2.Models.adminvalidate
@Html.AntiForgeryToken()
@Html.ValidationSummary(true)
  
@{
    ViewBag.Title = "Index";
}
<div>
    <label style="position:absolute;font-family:'Bell MT';font-size:larger;color:white;top:0px;left:auto">Easy Bus</label>
</div>

    <div style="margin:0 auto;width:500px;opacity:1.0;">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="form-horizontal">
                <h1 style="margin:0 auto;width:100%; heigth:100px;"><center>EASY BUS</center></h1>
                <h4>ADMIN LOGIN</h4>
                <hr />

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.userName, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.userName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.userName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.password, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.PasswordFor(model => model.password, new { htmlAttributes = new { @class = "form-control form-control-lg" } })
                        @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group error">

                    @if (TempData["Message"] != null)
                {
                        <label style="color:red;padding-left:12em">@TempData["Message"]</label>
                    }
                </div>


                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Login" class="btn btn-default" />
                        <!--<input type="submit" value="Login" class="fa fa-send" />-->
                    </div>
                </div>
            </div>
        }
    </div>
    @ViewBag.notvalid
