﻿@model IEnumerable<Data.DTO.roleDTO>

@{
    ViewBag.Title = "roleView";
}
@if (Session["userName"] != null)
{
<h2>ROLE</h2>

<p>
    @Html.ActionLink("Create New", "createRole")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.roleno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.rolename)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.roleno)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.rolename)
        </td>
        <td>
           @Html.ActionLink("Delete", "deleteRole", new { roleno = item.roleno })
        </td>
    </tr>
}

</table>

@Html.ActionLink("Back to Dash Board", "adminpage")
}