﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url(C:\Users\KNDKA\Desktop\easyBus2\easyBus2\Content\back.jpg);
}
.bodycol {
    height: 100%;
    background-color:Background;
}
.bodybg 
{
    height:100%;
    background-size:cover;
    background-image: url(http://www.edmition.com/wp-content/uploads/2016/06/che-school-bus.jpg);
}

img {
    filter: blur(15px);
    filter: blur(10px);
}

/* Set padding to keep content from hitting the edges */
.body-content
{
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea 
{
    max-width: 280px;
}
.bgcolor {
    background-image: url("https://images.pexels.com/photos/255379/pexels-photo-255379.jpeg?cs=srgb&dl=abstract-background-blur-255379.jpg&fm=jpg");
    background-size: 100%;
}

